*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

.bg{
    margin: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color:rgb(190, 235, 190);
}

.Homesec1{
    border-width: 20px;
    border-radius: 100%;
    border-color: rgb(16, 21, 21);
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:right;
    padding: 30px 0;

}

.bg1{
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color:rgb(220, 233, 220);
}

.bg {
    nav{
        a1 {
    margin: 0%;
    margin-bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 10px 0;
}
a{
    margin: 10px 40px;
    font-size:large;
    color: rgb(43, 113, 85);
    text-align:center;
    text-decoration: none;
}
    }
}
.bg1{

a2 {
    margin: 0%;
    margin-bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 30px 0;

} 
a3 {
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 30px 0;

} 

a4 {
    margin: 0%;
    margin-bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 0;
    p{
    text-decoration:double;
    font-size: xx-large;
    color: rgb(30, 69, 56);
    }


}